:root {
    --line-border-empty: #e0e0e0;
    --secondary-color: #ffffff;
}

.progress-header {
    padding: 28px 25px 0px 48px !important;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
}

.progress {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    transition: 0.4s ease;
}
/*.circle {*/
/*    background-color: #fff;*/
/*    color: #999;*/
/*    border-radius: 50%;*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border: 3px solid var(--line-border-empty);*/
/*    transition: 0.4s ease;*/
/*    z-index: 100;*/
/*}*/

/*.circle.active {*/
/*    border-color: var(--primary-color);*/
/*    color: var(--primary-color);*/
/*}*/

/*.circle.completed {*/
/*    border-color: var(--primary-color);*/
/*    color: var(--secondary-color);*/
/*    background-color: var(--primary-color);*/
/*    border: 4px;*/
/*}*/

/*.modal-header {*/
/*    border-bottom: none;*/
/*}*/

/*.circle-text {*/
/*    position: absolute;*/
/*    margin-top: 5em;*/
/*    color: #000000;*/
/*    font-size: 13px;*/
/*    margin-left: 4px;*/
/*}*/

